@media (max-width: 376px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .title {
        font-size: 32px;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px
    }

    .top_text {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    .botton_top {
        display: flex;
        justify-content: center;
    }

    .top_botton {
        width: 234.063px;
        height: 48.603px;
        flex-shrink: 0;
        border-radius: 30px;
        background: #9C0332;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
        color: #FFF;
    }

    .game_bot {
        text-align: center;
    }

    .game_1 {
        width: 343px;
    }

    .game_name {
        padding-left: 16px;
    }

    .br_top {
        display: none;
    }



    .game_bot {
        font-size: 32px;
    }

    .foter_box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 64px;
    }

    .text_bot {
        font-size: 14px;
        width: 343px;
        text-align: center;
    }

    .bottom_border {
        align-items: center;
    }

    .botton_text {
        display: block;
    }
}